{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
Breaking News
{% endblock title %}

{% block content %}
    <h3>NEWS</h3>
    <hr>
    {% for new in post %}
        <table>
            <tr>
                <td>
                    {{ new.title }}
                </td>
                <td>
                    {{ new.date }}
                </td>
                <td>
                    <a href="/news/{{ new.pk }}">{{ new.content|truncatechars:20 }}</a>
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock content %}